<app-header [title]="'Products Task'"></app-header>


<div class="container py-4">
    <div class="row">
        @for (product of products; track product.id) {
        <div class="col-md-4 mb-4">
            <app-product-item [productItem]="product"></app-product-item>
        </div>
        }
    </div>
    @if(totalPages > 1){
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)="goToPage(currentPage - 1)">Previous</button>
            </li>
            @for (page of [].constructor(totalPages); track $index) {
            <li class="page-item" [class.active]="currentPage === $index + 1">
                <button class="page-link" (click)="goToPage($index + 1)">{{ $index + 1 }}</button>
            </li>
            }

            <li class="page-item" [class.disabled]="currentPage === totalPages">
                <button class="page-link" (click)="goToPage(currentPage + 1)">Next</button>
            </li>
        </ul>
    </nav>
    }

</div>